<section class="container page">
  <a class="back" href="#">← Back to Movies</a>


  @if (movie(); as m){
  <div class="detail card">
    <div class="left">
      <div class="poster">
        <div class="poster-ph"></div>
      </div>
    </div>

    <div class="right">
      <h2 class="title">{{m.title}})</h2>

      <div class="row">
        <span class="pill">{{m.genre}}</span>
        <span class="pill">{{m.rating}}</span>
      </div>

      <p class="desc">
        {{m.description}}
      </p>

      <div class="actions">
        <button class="btn primary" type="button">Add to Favorites</button>
        <button class="btn" type="button">Remove from Favorites</button>
      </div>
    </div>
  </div>
}
</section>
