<section class="container page">
  <div class="header">
    <h2>Movies</h2>
    <p class="muted">Showing results of movies.</p>
  </div>

  <div class="grid">
    <!-- Movie Card Placeholder -->
    

    @for(movie of myarray(); track movie.id){
    <article class="movie card">
      <div class="poster"><img src={{movie.image}} width="270" height="480" class="poster-ph"/></div>
      <div class="info">
        <div class="top">
          <h3 class="title">{{movie.title}}</h3>
          <span class="rating">⭐ 4.6</span>
        </div>
        <p class="desc">{{movie.description}}</p>
        <div class="meta"><span class="pill">Drama</span><span class="pill">{{movie.genre}}</span></div>
        <div class="actions">
          <a class="btn" [routerLink]="['/movies', movie.id]">View Details</a>
          <button class="btn primary" type="button">Add to Favorites</button>
        </div>
      </div>
    </article>
    }
  </div>
</section>
